.thumbnail-listing {
    position: relative;
    left: 50%;
    right: 50%;
}

.card-highlight {
    border-bottom: 5px solid black;
}


.category {
    color: #222;
    font-size: 20px;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Droid Sans", "Segoe UI", "Helvetica", Arial, sans-serif;
    line-height: 4;
    word-wrap: break-word;
    -webkit-font-smoothing: antialiased;
    display: flex;
    justify-content: center;
    text-align: center;
}

.circular-image {
    border-radius: 50%;
}

