.global-circular-thumbnail-grid {
    grid-template-columns: fit-content(1px);
    margin: 0;
    grid-gap: 1em;
    border: 1em solid transparent;
    object-fit: scale-down;
}

.global-circular-thumbnail-items {
    display: flex;
    justify-content: center;
    border-bottom: 0.5em solid transparent;
}

.global-circular-thumbnail-listing:hover > .global-circular-thumbnail-items > .global-circular-thumbnail-image-div > .global-circular-thumbnail-image {
    transform: scale(1.1);
    box-shadow: 0em 0em 2em 0 rgba(26, 26, 26, 0.29);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}


.global-circular-thumbnail-listing:hover > .global-circular-thumbnail-items > .global-circular-thumbnail-category {
    color: #595959;
    border-bottom: 0.2em solid #595959;
    -webkit-font-smoothing: antialiased;
}


.global-circular-thumbnail-category {
    color: #222222;
    font-weight: 640;
    font-size: 1.5em;
    position: relative;
    font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Droid Sans", "Segoe UI", "Helvetica", Arial, sans-serif;
    line-height: 2;
    word-wrap: break-word;
    border-bottom: 0.2em solid transparent;
    -webkit-font-smoothing: antialiased;
}

.global-circular-thumbnail-image-div {
    object-fit: none;
    object-position: center;
}

.global-circular-thumbnail-image {
    display: flex;
    box-sizing: inherit;
    border-radius: 50%;
    width: 10em;
    overflow: hidden;
}


