.thumbnail {
    border-bottom: 0.15em solid transparent;
}

.thumbnail-title {
    margin-top: 2em;
}

.thumbnail-elements {
    position: relative;
    display: flex;
    justify-content: center;
    border-bottom: transparent;
    grid-row-gap: 1em;
}

.thumbnail-hover {
    border-bottom: 0.15em solid black;
}

.thumbnail-image-hover {
    transform: scale(1.1);
    box-shadow: 0 0 2vw 0 rgba(26, 26, 26, 0.29);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}