.thumbnail {
    transform-origin: center;
    border-bottom: 0.15em solid transparent;
}

.thumbnail-elements div {
    width: 8em;
}

.thumbnail-hover {
    border-bottom: 0.15em solid #595959;
    transition: border-bottom 0.2s ease-in;
}

.thumbnail-title {
    margin-top: 1em;
    margin-bottom: 1em;
    color: black;
    font-size: 0.95em;
    letter-spacing: 0.055em;
    word-break: break-word;
    text-transform: lowercase;
    font-family: Arial, sans-serif;
    -webkit-text-stroke: 0.03em black;
    -webkit-font-smoothing: antialiased;
}

.thumbnail-elements {
    position: relative;
    display: flex;
    justify-content: center;
    border-bottom: transparent;
    grid-row-gap: 1em;
}

.thumbnail-title-hover {
    color: #595959;
}

.thumbnail-image-hover {
    transform: scale(1.05);
    box-shadow: 0 0 0.8vw 0.4vw rgba(26, 26, 26, 0.11);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}