.body-template-grid {
    width: 95%;
    padding: 0 3% 0 3%;
    grid-row-gap: 2em;
    justify-content: center;
}

.background {
    position: absolute;
    left: 0;
    background-color: #FDEBD2;
    width: 100%;
    height: 15em;
    background-repeat:no-repeat;
    background-size: cover;
    margin-bottom: -12em;
    z-index: -1;
}

.home-body-title {
    font-weight: 100;
    font-size: 3em;
    text-align: center;
    font-family: "Guardian-EgypTT",Charter,"Charter Bitstream",Cambria,"Noto Serif Light","Droid Serif",Georgia,serif;
    -webkit-text-stroke: 0.01em #FDEBD2;
}

.home-body-sub-title {
    font-weight: 100;
    font-size: 3em;
    text-align: center;
    font-family: "Guardian-EgypTT",Charter,"Charter Bitstream",Cambria,"Noto Serif Light","Droid Serif",Georgia,serif;
    -webkit-text-stroke: 0.01em white;
}

.home-body-thumbnail-titles {
    font-weight: 100;
    font-size: 2em;
    text-align: left;
    font-family: Arial, sans-serif;
    -webkit-text-stroke: 0.02em black;
}

.home-body-text {
    margin-top: 1em;
    margin-bottom: 1em;
    color: black;
    font-size: 0.95em;
    letter-spacing: 0.055em;
    word-break: break-word;
    font-family: Arial, sans-serif;
    -webkit-text-stroke: 0.03em black;
}

.home-body-descriptions {
    margin-top: 1em;
    margin-bottom: 1em;
    color: black;
    font-size: 0.95em;
    letter-spacing: 0.055em;
    word-break: break-word;
    font-family: Arial, sans-serif;
}

.categories-grid {
    width: 100%;
    grid-gap: 1em;
}

.recently-viewed-grid {
    width: 100%;
    grid-gap: 1em;
}

.picks-circle-grid {
    width: 100%;
    grid-gap: 1em;
}

.picks-square-grid {
    width: 100%;
    grid-gap: 1em;
    justify-content: center;
}

.card-thumbnail {
    width: 10em;
}