.body-template-grid {
    width: 100%;
    grid-row-gap: 2em;
    justify-content: center;
}

.background-header {
    position: absolute;
    width: 100%;
    left: 0;
    background-color: #FDEBD2;
    height: 15em;
    z-index: -1;
}

.home-body-title {
    font-weight: 100;
    font-size: 3em;
    white-space: nowrap;
    line-height: 1em;
    text-align: center;
    font-family: "Guardian-EgypTT",Charter,"Charter Bitstream",Cambria,"Noto Serif Light","Droid Serif",Georgia,serif;
    -webkit-text-stroke: 0.01em #FDEBD2;
}

.home-body-sub-title {
    font-weight: 100;
    font-size: 3em;
    text-align: center;
    font-family: "Guardian-EgypTT",Charter,"Charter Bitstream",Cambria,"Noto Serif Light","Droid Serif",Georgia,serif;
    -webkit-text-stroke: 0.01em white;
}

.home-body-thumbnail-titles {
    font-weight: 100;
    font-size: 1.5em;
    text-align: left;
    word-break: break-word;
    font-family: Arial, sans-serif;
    -webkit-text-stroke: 0.02em black;
}

.home-body-text {
    margin-top: 1em;
    margin-bottom: 1em;
    color: black;
    font-size: 0.95em;
    letter-spacing: 0.055em;
    white-space: nowrap;
    font-family: Arial, sans-serif;
    -webkit-text-stroke: 0.03em black;
}

.home-body-descriptions {
    margin-top: 1em;
    margin-bottom: 1em;
    color: black;
    font-size: 0.95em;
    letter-spacing: 0.055em;
    word-break: break-word;
    font-family: Arial, sans-serif;
}

.categories-grid {
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    grid-gap: 2em;
}

.recently-viewed-grid {
    width: 100%;
    grid-gap: 1em;
    display: flex;
    align-content: space-evenly;
    justify-content: flex-start;
}

.picks-circle-grid {
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    grid-gap: 2em;
}

.picks-square-grid {
    width: 100%;
    grid-gap: 1em;
    justify-content: space-evenly;
}

.popular-grid {
    width: 100%;
}

.popular-items {
    display: flex;
    grid-column-gap: 0;
    justify-content: stretch;
    align-content: center;
}



.popular-items:nth-child(n+2) > div {
    width: 10em;
    grid-column-gap: 1em;
}

.card-thumbnail {
    width: 10em;
}

.editors-picks-grid {
    width: 92%;
    grid-gap: 1em;
    display: flex;
    justify-content: space-evenly;
    padding: 2em 1em 2em 1em;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.14);
}

.shop-selections-grid {
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: flex-start;
    grid-gap: 1em;
}

.shop-selections-items:nth-child(n+2) > div {
    width: 13em;
}

.based-activity-grid {
    width: 100%;
    grid-gap: 1em;
    justify-content: flex-start;
}

.based-activity-large-items:first-child > div {
    width: 15em;
    display: flex;
    align-content: center;
    justify-content: center;
}

.based-activity-large-items:nth-child(n+2) > div {
    width: 7em;
}

.based-activity-small-items > div {
    width: 9em;
}

.recommendation-footer {
    padding-top: 2em;
}

.recommendations-grid {
    width: 100%;
    display: flex;
    align-content: space-evenly;
    justify-content: space-evenly;
}

.recommendations-items .thumbnail-image {
    width: 6em;
    height: 6em;
}

.background-footer {
    width: 100%;
    position: absolute;
    margin-top: -2em;
    left: 0;
    z-index: -10;
    object-fit: scale-down;
}