.body-template-grid {
    padding: 1em 1em 1em 1em;
}

.background {
    position: absolute;
    left: 0;
    background-color: #FDEBD2;
    width: 100%;
    height: 20em;
    background-repeat:no-repeat;
    background-size: cover;
    margin-bottom: -12em;
    z-index: -1;
}

.message-text {
    font-weight: 100;
    font-size: 4em;
    text-align: center;
}

.categories-grid {
    grid-gap: 1em;
}

.recently-viewed-grid {
    grid-gap: 1em;
}

.picks-circle-grid {
    grid-gap: 1em;
}

.picks-square-grid {
    grid-gap: 1em;
}

