.navbar-template {
    margin: 0;
    box-sizing: inherit;
    position: relative;
    content: "";
    left: 0;
    right: 0;
    bottom: 0;
    font-size: 85%;
    font-family: "Graphik Webfont", -apple-system, "Helvetica Neue", "Droid Sans", Arial, sans-serif;
}

.navbar-template-list {
    margin: 0;
    box-sizing: inherit;
    list-style: none;
    padding-left: 0;
    display: flex;
}

.navbar-template-list > li > a {
    color: #222222;
    text-decoration: none;
}


.navbar-template-component-mouse-leave {
    border-bottom: 2px solid rgba(34, 34, 34, 0.15);
    -webkit-font-smoothing: antialiased;
}

.navbar-template-component-mouse-enter {
    border-bottom: 2px solid black;
    -webkit-font-smoothing: antialiased;
}