
.login-background, .register-background {
    width: 98%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100vh;
    min-width: 100vw;
    z-index: 10;
    background-color: rgba(34, 34, 34, 0.65);
}

.login-modal-items, .register-modal-items {
    width: 100%;
}

.login-modal, .register-modal {
    display: grid;
    position: absolute;
    grid-row-gap: 2em;
    font-family: "Graphik Webfont",-apple-system,"Helvetica Neue","Droid Sans",Arial,sans-serif;
    z-index: 50;
    width: 25em;
    height: 80%;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 24px;
    background-color: #FFFFFF;
    border: 0.025em solid black;
    padding: 1.5em 2em 1.5em 2em;
    box-shadow: 0 6px 36px rgb(34 34 34 / 33%);
    transition: opacity 150ms ease-out,transform 255ms cubic-bezier(0.175, 0.745, 0.425, 1.11);
}

.login-modal-items, .register-modal-items {
}

.signin-text, .register-title {
    font-weight: 400;
    font-size: 2em;
    color: rgba(34, 34, 34, 0.7);
}

.login-alternatives, .register-alternatives {
    display: flex;
    flex-direction: column;
    row-gap: 1em;
}

.login-google, .login-facebook, .login-apple,
.register-google, .register-facebook, .register-apple {
    font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Droid Sans", "Segoe UI", "Helvetica", Arial, sans-serif;
    background: transparent;
    font-size: 1em;
    font-weight: 500;
    border-radius: 96px;
    border: 0.025em solid black;
    padding: 1em 3em 1em 3em;
    cursor: pointer;
    height: 3.2em;
}

.register-button {
    margin-left: 50%;
    margin-top: 5%;
    position: relative;
    font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Droid Sans", "Segoe UI", "Helvetica", Arial, sans-serif;
    background: transparent;
    font-size: 0.8em;
    font-weight: 600;
    border-radius: 96px;
    border: 0.2em solid black;
    padding: 0.2em 1.5em 0.2em 1.5em;
    cursor: pointer;
    height: 3em;
}

.register-button:hover, .login-google:hover, .login-facebook:hover, .login-apple:hover,
.register-google:hover, .register-facebook:hover, .register-apple:hover {
    transform: scale(1.01);
    box-shadow: 0 0 1.5vw 0 rgba(26, 26, 26, 0.12);
    transition: transform 0.07s ease, box-shadow 0.3s ease;
}


.login-email-text, .login-password-text, .register-email-text,
.register-first-name-text, .register-password-text {
    font-weight: 400;
    font-size: 0.7em;
}

.login-input-email, .login-input-password, .register-input-email,
.register-input-first-name, .register-input-password {
    width: 100%;
    background-color: #FFFFFF;
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.12) inset;
    height: 3em;
    font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Droid Sans", "Segoe UI", "Helvetica", Arial, sans-serif;
    font-size: 1em;
    font-weight: 500;
    border-radius: 6px;
    border: 0.15em solid rgba(34, 34, 34, 0.15);
}

.login-checkbox {
    height: 1em;
    width: 1em;
}

.login-stay-signed {
    font-weight: 400;
    font-size: 1em;
}

.login-forgot-pass {
    font-weight: 400;
    font-size: 1em;
    text-decoration: none;
    color: #595959;
}

.login-submit-button, .register-submit-button {
    width: 100%;
    font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Droid Sans", "Segoe UI", "Helvetica", Arial, sans-serif;
    font-size: 1em;
    font-weight: 500;
    border-radius: 96px;
    border: 0.15em solid black;
    padding: 1em 5em 1em 5em;
    cursor: pointer;
    background-color: black;
    color: white;
}

.login-submit-button:hover, .register-submit-button:hover {
    transform: scale(1.025);
    background-color: #222222;
    box-shadow: 0em 0em 1.5em 0 rgba(26, 26, 26, 0.12);
    transition: transform 0.02s ease, box-shadow 0.3s ease;
}

.login-divider {
    width: 100%;
    display: flex;
}

.login-left-divider, .login-right-divider, .login-divider-text {
    display: flex;
    align-content: center;
    justify-content: center;
    width: 100%;
}

.login-left-divider, .login-right-divider{
    height: 0.0055em;
    background-color: rgba(34, 34, 34, 0.15);
}

.login-divider-text {
    font-weight: 400;
    font-size: 1em;
    line-height: 0;
    width: 8em;
    color: rgba(34, 34, 34, 0.7);
}

.login-terms-conditions, .register-terms-conditions, .register-text {
    font-weight: 400;
    font-size: 0.85em;
    color: rgba(34, 34, 34, 0.7);
    line-height: 1.5;
}