.global-star-rating {
    display: flex;
    align-items: center;
}

.global-star-rating-count {

}

.global-star-rating-stars {
    font-size:1.5em;
    height:1.5em;
    text-align:center;
}

.global-star-rating-stars input {
    display:none;
}

.global-star-rating-stars label {
    color:#ccc;
    cursor:pointer;
    float:right;
}

.global-star-rating-stars :checked ~ label {
    color:#222;
}


.global-star-rating-hover label:hover,
.global-star-rating-hover label:hover ~ label {
    color:#fc0;
}
