.global-gridlayout-container {
    display: grid; /* DO NOT REMOVE */
    /* the original gridlayout-container
    Nothing here unless something new comes up.
    This will override every existing gridlayout container.
    */
}

.global-gridlayout-item {
    /* the original gridlayout-item
    Nothing here unless something new comes up.
    This will override every existing gridlayout items.
    */
}

.grid {
    /*
    grid-gap: 10px;
    background-color: #2196F3;
    */
    padding: 10px;
}

.item {
    /*
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    font-size: 30px;
    */
    padding: 20px 0;
}