.card-featured-grid {
    justify-content: start;
    cursor: pointer;
    grid-column-gap: 1em;
}

.card-featured-items {
    justify-content: flex-start;
    cursor: inherit;
}

.card-featured-items:first-child {
}

.card-featured-items:nth-child(2) {
    width: 100%;
}

.card-featured-info-grid {
    height: 100%;
    cursor: pointer;
    display: flex;
    grid-row-gap: 0.5em;
    flex-direction: column;
    align-content: space-around;
}

.card-featured-info-items {
    cursor: inherit;
}

.card-featured-favorite {
    width: 1em;
    height: 1em;
    color: #222222;
    background-color: white;
    z-index: 10;
    padding: 0.5em;
    border-radius: 50%;

    position: absolute;
    transition: opacity 0.2s linear, transform 0.1s ease-out, opacity 0.1s linear;
    right: 5%;
    top: 5%;
    transform: translateY(100%);
    opacity: 0;
    cursor: pointer;
}

.card-featured-image-div:hover .card-featured-favorite{
    transform: translateY(0%) scale(1);
    opacity: 100%;
}

.card-featured-favored {
    fill: #A61A2E;
}


.card-featured-image-div {
    position: relative;
    width: 15em;
    height: 15em;
    object-position: center;
    object-fit: scale-down;
    cursor: inherit;

}

.card-featured-image{
    width: 100%;
    height: 100%;
    object-fit: fill;
    box-sizing: inherit;
    border-radius: 0.25em;
    cursor: inherit;
}

.card-featured-store {
    text-decoration: underline;
}

.card-featured-title {
    display: inline-block;
    color: #222;
    font-weight: 600;
    font-size: 1.5em;
    position: relative;
    font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Droid Sans", "Segoe UI", "Helvetica", Arial, sans-serif;
    word-wrap: break-word;
    -webkit-font-smoothing: antialiased;
    cursor: inherit;
}

.card-featured-price-container {
    font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Droid Sans", "Segoe UI", "Helvetica", Arial, sans-serif;
    cursor: inherit;
}

.card-featured-calculated-price {
    color: #222;
    font-size: 1.5em;
    font-weight: 575;
    font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Droid Sans", "Segoe UI", "Helvetica", Arial, sans-serif;
    word-wrap: break-word;
    cursor: inherit;
}

.card-featured-price-mod {
    color: #258635;
    word-wrap: break-word;
    cursor: inherit;
}

.card-featured-original-price {
    color: #258635;
    text-decoration: line-through;
    font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Droid Sans", "Segoe UI", "Helvetica", Arial, sans-serif;
    font-size: 1em;
    word-wrap: break-word;
    -webkit-font-smoothing: antialiased;
    cursor: inherit;

    margin-left: 0.3em;
    margin-right: 0.3em;
}

.card-featured-discount-price {
    color: #258635;
    font-size: 1em;
    font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Droid Sans", "Segoe UI", "Helvetica", Arial, sans-serif;
    word-wrap: break-word;
    -webkit-font-smoothing: antialiased;
    cursor: inherit;
}


.card-featured-additional-label {
    color: #222;
    font-size: 1em;
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Droid Sans", "Segoe UI", "Helvetica", Arial, sans-serif;
    word-wrap: break-word;
    cursor: inherit;
}

.card-featured-grouped-price {
}

.card-featured-additional {
    background-color: #D4E9D7;
    border-radius: 1em;
    overflow: hidden;
    display: inline-flex;
    cursor: inherit;
    padding: 0.3em 1em 0.3em 1em;
}

.card-featured-additional-label {
    color: #222;
    font-size: 0.7em;
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Droid Sans", "Segoe UI", "Helvetica", Arial, sans-serif;
    word-wrap: break-word;
    cursor: inherit;
}

.card-featured-rating-count {
    color: #222222;
}

.card-featured-submit {
    font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Droid Sans", "Segoe UI", "Helvetica", Arial, sans-serif;
    background: transparent;
    font-size: 1em;
    font-weight: 500;
    border-radius: 5em;
    border: 0.15em solid black;
    padding: 0.5em 4em 0.7em 4em;
    cursor: pointer;
}

.card-featured-submit-label {
    cursor: pointer;
}


.card-featured-submit:hover {
    transform: scale(1.01);
    box-shadow: 0 0 1.5em 0 rgba(26, 26, 26, 0.12);
    transition: transform 0.07s ease, box-shadow 0.3s ease;
}
