.payment-selection-image {
    width: 2em;
    height: 2em;
    object-fit: scale-down;
    border: 1px solid #ccc;
}

.payment-selection-radio {
    justify-content: start;
}

.payment-selection-radio-grid {
    display: inline-flex;
    grid-row-gap: 0.2em;
}

.payment-selection-radio-content-grid {
    display: flex;
    grid-column-gap: 0.3em;
    align-items: center;
}

.payment-selection-price-grid {
    display: flex;
    width: 100%;
}

.payment-selection-price-grid div:nth-child(2) {
    align-items: flex-end;
    justify-items: flex-end;
    text-align: right;
}

.payment-line-break {
    border-bottom: 0.025em solid #ccc;
}

.payment-text-highlight {
    font-weight: 600;
    letter-spacing: 0.03em;
    font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Droid Sans", "Segoe UI", "Helvetica", Arial, sans-serif;
}

.payment-text {
    font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Droid Sans", "Segoe UI", "Helvetica", Arial, sans-serif;
}


.payment-checkout {
    width: 20em;
    height: 20em;
    grid-row-gap: 0.5em;
    background-color: white;
    box-shadow: 0em 0em 1.5em 0 rgba(26, 26, 26, 0.19);
    border-radius: 1em;
    padding: 2em 2em 5em 2em;
}


.payment-selection-creditcards {
    display: flex;
    justify-content: start;
    justify-items: start;
    align-items: center;
    align-content: center;
}

.payment-types-creditcards-grid {
    grid-column-gap: 0.2em;
    margin-left: 1em;
}

.payment-selection-creditcards img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: contain;
}

.payment-types-creditcards-items {
    align-self: center;
    border: 1px solid rgba(112, 112, 112, 0.51);
    width: 2em;
    height: 2em;
}

.payment-selection-onlinepayment {
    display: flex;
    justify-content: start;
    justify-items: start;
    align-items: start;
    align-content: center;
}

.payment-selection-onlinepayment img {
    width: 2em;
    height: 2em;
    display: block;
    border: 1px solid rgba(112, 112, 112, 0.51);
    object-fit: contain;
    margin-left: 1em;
}

.payment-selection-klarna {
    display: inline-flex;
    align-items: center;
    align-content: center;
}

.payment-selection-klarna img {
    width: 2em;
    height: 2em;
    display: block;
    border: 1px solid rgba(112, 112, 112, 0.51);
    object-fit: contain;
    margin-left: 1em;
}

.payment-checkout-price-item {
    display: flex;
    align-items: baseline;
}

.payment-checkout-price-item > label:first-child{
    font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Droid Sans", "Segoe UI", "Helvetica", Arial, sans-serif;
    font-size: 1.3em;
    font-weight: 500;
    margin-right: 10%;
}

.payment-checkout-price-item > label:last-child{
    font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Droid Sans", "Segoe UI", "Helvetica", Arial, sans-serif;
    font-size: 1em;
    font-weight: 400;
    margin-left: 10%;
}

.payment-checkout-submit {
    font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Droid Sans", "Segoe UI", "Helvetica", Arial, sans-serif;
    font-size: 1em;
    font-weight: 500;
    border-radius: 96px;
    border: 0.15em solid black;
    margin-left: 1em;
    margin-right: 1em;
    padding: 0.5em 2em 0.5em 2em;
    cursor: pointer;
    background-color: black;
    color: white;
}

.payment-checkout-price-total {
    display: flex;
    align-items: baseline;
    border-top: 0.2em solid rgba(89, 89, 89, 0.54);
}

.payment-checkout-price-total > label:first-child{
    font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Droid Sans", "Segoe UI", "Helvetica", Arial, sans-serif;
    font-size: 1.3em;
    font-weight: 500;
    margin-right: 10%;
}

.payment-checkout-price-total > label:last-child{
    font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Droid Sans", "Segoe UI", "Helvetica", Arial, sans-serif;
    font-size: 1em;
    font-weight: 400;
    margin-left: 10%;
}

.payment-checkout-submit:hover {
    transform: scale(1.025);
    background-color: #222222;
    box-shadow: 0em 0em 1.5em 0 rgba(26, 26, 26, 0.12);
    transition: transform 0.02s ease, box-shadow 0.3s ease;
}