.global-card-listing-grid {
    /* Autofits between ranges 20em and 50em */
    /* grid-template-columns: repeat(auto-fit, minmax(20em, 50em)); */
    /* grid-template-columns: repeat(auto-fit, fit-content(200px)); */

    /*  The minimal allowable size is 10em vs maximum size is infinite
        Remove to allow more tightly stretching. */
    grid-template-columns: repeat(auto-fit, minmax(10em, 100%));
    border: 1vw solid transparent;
    cursor: pointer;
}

.global-card-listing-items {
    cursor: inherit;
}

.global-card-listing-grid:hover img {
    box-shadow: 0em 0em 1vw 0 rgba(26, 26, 26, 0.3);
    transition: box-shadow 0.2s ease;
}


.global-card-listing-image-div {
    width: 100%;
    height: 100%;
    object-position: center;
    cursor: inherit;
    object-fit: scale-down; /* Scales down the div to fit the maximum allowable by the window (e.g. the grid)*/
}

.global-card-listing-image{
    box-sizing: inherit;
    border-radius: 0.5vw;
    cursor: inherit;

    /* Set the image to be infinite sized */
    width: 100%;
    height: 100%;
    /* Not needed here: object-fit: scale-down
       It will resize to its actual pixel size or scale it down.
    */
}

.global-card-listing-title {
    display: inline-block;
    color: #222;
    font-weight: 600;
    font-size: 1.5vw;
    line-height: 1.5vw;
    position: relative;
    font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Droid Sans", "Segoe UI", "Helvetica", Arial, sans-serif;
    word-wrap: break-word;
    -webkit-font-smoothing: antialiased;
    cursor: inherit;
}

.global-card-listing-calculated-price {
    color: #222;
    font-size: 1.5vw;
    line-height: 1.5vw;
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Droid Sans", "Segoe UI", "Helvetica", Arial, sans-serif;
    word-wrap: break-word;
    -webkit-font-smoothing: antialiased;
    cursor: inherit;
}

.global-card-listing-original-price {
    color: #258635;
    text-decoration: line-through;
    font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Droid Sans", "Segoe UI", "Helvetica", Arial, sans-serif;
    font-size: 1vw;
    line-height: 1vw;
    word-wrap: break-word;
    -webkit-font-smoothing: antialiased;
    cursor: inherit;

    margin-left: 0.3vw;
    margin-right: 0.3vw;

}

.global-card-listing-discount {
    color: #258635;
    font-size: 1vw;
    line-height: 1vw;
    font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Droid Sans", "Segoe UI", "Helvetica", Arial, sans-serif;
    word-wrap: break-word;
    -webkit-font-smoothing: antialiased;
    cursor: inherit;
}

.global-card-listing-additional-label {
    color: #222;
    font-size: 1vw;
    line-height: 1vw;
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Droid Sans", "Segoe UI", "Helvetica", Arial, sans-serif;
    word-wrap: break-word;
    cursor: inherit;
}

.global-card-listing-additional {
    background-color: #D4E9D7;
    border-radius: 1vw;
    overflow: hidden;
    display: inline-flex;
    cursor: inherit;
    padding: 1% 3% 2% 3%;
}

