.card-listing {
    width: 250px;
    height: 250px;
}

.title {
    color: #222;
    font-weight: 640;
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Droid Sans", "Segoe UI", "Helvetica", Arial, sans-serif;
    line-height: 1.4;
    word-wrap: break-word;
    -webkit-font-smoothing: antialiased;
}

.rating-count {
    color: #919191;
    font-weight: 550;
    font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Droid Sans", "Segoe UI", "Helvetica", Arial, sans-serif;
    line-height: 1.4;
    word-wrap: break-word;
    -webkit-font-smoothing: antialiased;
}

.calculated-price {
    color: #222;
    font-size: 22px;
    font-weight: 575;
    font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Droid Sans", "Segoe UI", "Helvetica", Arial, sans-serif;
    line-height: 1.4;
    word-wrap: break-word;
    -webkit-font-smoothing: antialiased;
}

.price {
    color: #258635;
    text-decoration: line-through;
    font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Droid Sans", "Segoe UI", "Helvetica", Arial, sans-serif;
    line-height: 1.4;
    word-wrap: break-word;
    -webkit-font-smoothing: antialiased;
}

.discount {
    color: #258635;
    font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Droid Sans", "Segoe UI", "Helvetica", Arial, sans-serif;
    line-height: 1.4;
    word-wrap: break-word;
    -webkit-font-smoothing: antialiased;
}

.shipping {
    color: #222;
    font-size: 14px;
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Droid Sans", "Segoe UI", "Helvetica", Arial, sans-serif;
    line-height: 1.4;
    word-wrap: break-word;
    -webkit-font-smoothing: antialiased;

}

.shipping-container {
    background-color: #D4E9D7;
    border-radius: 15px;
    overflow: hidden;
    display: inline-block;
}

img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    border-radius: 3.5%;
}

