.rating {
    display: flex;
    align-items: center;
}

.rating-count {
}

.star-rating {
    font-size:1.5em;
    height:1.5em;
    text-align:center;
}

.star-rating input {
    display:none;
}

.star-rating label {
    color:#ccc;
    cursor:pointer;
    float:right;
}

.star-rating :checked ~ label {
    color:#222;
}

.star-rating label:hover,
.star-rating label:hover ~ label {
    color:#fc0;
}
