.global-rating {
    display: flex;
    align-items: center;
}


.global-rating-count {
    color: #919191;
    font-weight: 550;
    font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Droid Sans", "Segoe UI", "Helvetica", Arial, sans-serif;
    line-height: 1.4;
    margin-left: 0.5em;
    word-wrap: break-word;
    -webkit-font-smoothing: antialiased;
    cursor: inherit;
}

.global-rating-icon {
    font-size:1.5em;
    height:1.5em;
    text-align:center;
}

.global-rating label {
    color:#ccc;
    cursor:pointer;
    float:right;
}
