.global-rating {
    display: flex;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Droid Sans", "Segoe UI", "Helvetica", Arial, sans-serif;
}


.global-rating-count {
    color: #adadad;
    font-weight: 500;
    font-size: 0.75em;
    line-height: 0.75em;
    margin-left: 0em;
    word-wrap: break-word;
    -webkit-font-smoothing: antialiased;
    cursor: inherit;
}

.global-rating-icon {
    width: 1.5em;
}


