.global-rating {
    display: flex;
    align-items: center;
}


.global-rating-count {
    color: #adadad;
    font-weight: 550;
    font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Droid Sans", "Segoe UI", "Helvetica", Arial, sans-serif;
    margin-left: 0.5em;
    word-wrap: break-word;
    -webkit-font-smoothing: antialiased;
    cursor: inherit;
}

.global-rating-icon {
}


