.gallery-grid {
    background-color: #2196F3;
    padding: 10px;
}

.gallery-items {
    grid-row-gap: 1em;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}


.gallery-image {
    border-radius: 0.5em;
}

.gallery-carousel {
    max-height: 100%;
    max-width: 100%;
    overflow: hidden;
}

.gallery-items img:not(.gallery-carousel){
    width: 60px;
    height: 60px;
    z-index: 90;
    left: 0;
    top: 0;
    box-sizing: inherit;
    display: block;
    filter: opacity(60%);
    object-fit: cover;
}


.gallery-items:hover img:not(.gallery-carousel){
    filter: opacity(100%);
}


.gallery-button {
    color: #222222;
    background-color: white;
    line-height: 1;
    padding: 0.5em;
    text-decoration: none;
    height: 3em;
    width: 3em;
    z-index: 10;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    display: inline-flex;
    box-sizing: inherit;
}

.gallery-button:hover {
    box-shadow: 0em 0em 1em 0 rgba(26, 26, 26, 0.44);
    transform: scale(1.025);
    transition: transform 0.02s ease, box-shadow 0.2s ease;
}

.gallery-button-right {
    margin-right: 2em;
    right: 0;
}

.gallery-button-left {
    margin-left: 2em;
    left: 0;
}
