.gallery-grid {
    width: 100%;
    justify-content: start;
}


.gallery-elements {
    padding: 1em;
}

.gallery-carousel {
    position: relative;
    display: flex;
    width: 30em;
    height: 30em;
    align-content: start;
}

.gallery-carousel-image {
    position: relative;
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 1em;
    user-select: none;
}

.gallery-elements img:not(.gallery-carousel-image){
    user-select: none;
    display: flex;
}

.gallery-elements img:first-child{
    margin-bottom: 0.75em;
}

.gallery-elements img:nth-child(n + 1){
    /*padding-top: 0.5em;*/
    /*padding-bottom: 0.5em;*/
    margin-top: 0.75em;
    margin-bottom: 0.75em;
}

.gallery-image-selections {
    position: relative;
    object-fit: cover;
    width: 6em;
    height: 6em;
    border-radius: 1.2em;
    filter: opacity(60%);
}

.gallery-elements:hover img:not(.gallery-carousel-image){
    filter: opacity(100%);
}

.gallery-button {
    color: #222222;
    background-color: white;
    padding: 0.5em;
    height: 2em;
    z-index: 10;
    border-radius: 50%;
    position: absolute;
    opacity: 0;
    transition: opacity 0.2s linear;
}

.gallery-button:hover {
    box-shadow: 0 0 1em 0 rgba(26, 26, 26, 0.44);
    transform: scale(1.025);
    transition: transform 0.02s ease, box-shadow 0.2s ease;
}

.gallery-button-right {
    margin-right: 5%;
    right: 0;
    top: 50%;
}

.gallery-button-left {
    margin-left: 5%;
    left: 0;
    top: 50%;
}

.visibility-transition {
    opacity: 100%;
}


