.product-template-grid {
}


.product-template-items {

}


.product-template-items-gallery {

}

.product-template-items-options {


}

.product-template-items-description {
    
}



.product-template-items-options-submit {
    font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Droid Sans", "Segoe UI", "Helvetica", Arial, sans-serif;
    background: transparent;
    font-size: 1em;
    font-weight: 500;
    border-radius: 96px;
    border: 0.15em solid black;
    padding: 1em 3.5em 1em 3.5em;
    cursor: pointer;
}


.product-template-items-options-submit:hover {
    transform: scale(1.01);
    box-shadow: 0em 0em 1.5em 0 rgba(26, 26, 26, 0.12);
    transition: transform 0.07s ease, box-shadow 0.3s ease;
}