.card-thumbnail {
    position: relative;
    box-sizing: inherit;
    display: inline-flex;
    flex-direction: column;
    justify-items: center;
}

.card-thumbnail-image {
    border-radius: 2em;
}

.card-thumbnail-grid {
    grid-gap: 0.5em;
    padding: 0.5em 0.5em 0.5em 0.5em;
}

.card-thumbnail-item {
}

.card-thumbnail-price {
    position: absolute;
    width: 5em;
    color: #222222;
    background-color: #D4E9D7;
    border-radius: 96px;
    bottom: 5%;
    left: 5%;
}

.card-thumbnail-shipping-svg {
    fill: #222222;
    object-fit: fill;
    width: 1em;
    height: 1em;
}