.card-thumbnail {
    position: relative;
    box-sizing: inherit;
    cursor: pointer;
    font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Droid Sans", "Segoe UI", "Helvetica", Arial, sans-serif;
}

.card-thumbnail:hover img {
    box-shadow: 0 0 1em 0 rgba(26, 26, 26, 0.44);
    transition: box-shadow 0.2s ease;
}


.card-thumbnail:hover .card-thumbnail-favorite{
    transform: translateY(0%) scale(1);
    opacity: 100%;
}

.card-thumbnail-image {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 1.5vw;
    box-shadow: 0 0 1vm 0 transparent;
}

.card-thumbnail-price{
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    width: 6em;
    max-width: 85%;
    height: 1.5em;
    align-items: center;
    border-radius: 96px;
    background-color: #D4E9D7;
    border: 0.1em solid #bdccbe;
    color: #222222;
    bottom: 7%;
    left: 5%;
}


.card-thumbnail-price-label {
    font-size: 0.8em;
    cursor: inherit;
    font-weight: 600;
    font-family: inherit;
    -webkit-text-stroke: 0.013em black;
    -webkit-font-smoothing: antialiased;
}

.card-thumbnail-shipping-div {
    height: 1em;
    width: 1.2em;
}



.card-thumbnail-shipping-svg {
    object-fit: fill;
    fill: #222222;
    vertical-align: center;
    horiz-align: center;
}


.card-thumbnail-favorite {
    width: 1em;
    height: 1em;
    color: #222222;
    background-color: white;
    z-index: 10;
    padding: 0.5em;
    border-radius: 50%;

    position: absolute;
    transition: opacity 0.2s linear, transform 0.1s ease-out, opacity 0.1s linear;
    right: 5%;
    top: 5%;
    transform: translateY(100%);
    opacity: 0;
    cursor: pointer;
}

.card-thumbnail-svg {
    height: 1em;
    fill: #222222;
    vertical-align: text-top;
}

.card-thumbnail-favorite-image {
    position: relative;
    margin-top: 0.1em;
    width: 90%;
    height: 90%;
}

.card-thumbnail-favored {
    fill: #A61A2E;
}

.card-thumbnail-favorite:hover {
    box-shadow: 0 0 1em 0 rgba(26, 26, 26, 0.44);
    transition: transform 0.02s ease, box-shadow 0.2s ease;
}