.global-products-list-grid {
    grid-row-gap: 2vh;
    grid-column-gap: 2vw;

    display: flex;
    justify-content: space-between;
    margin-left: 3vw;
    margin-right: 3vw;
}

.global-products-list-items {

}
