.favorites-page-div {
    display: flex;
    justify-content: center;
}

.favorites-page-grid {
    grid-gap: 2em;
    display: flex;
}

.favorites-page-items:nth-child(3) {
    display: flex;
    justify-content: center;
}