.products-page-div {
    display: flex;
    justify-content: center;
}

.products-page-grid {
    grid-gap: 2em;
    display: flex;
}

.products-page-items:first-child {
    max-width: 70em;
}

.products-page-items:nth-child(3) {
    display: flex;
    justify-content: center;
}