.product-page-div {
    display: flex;

    align-content: center;
    justify-content: center;
}

.product-page-grid {
    display: flex;
    grid-row-gap: 2em;
    padding-left: 2em;
    padding-right: 2em;

    align-content: flex-start;
    justify-content: flex-start;
}


.product-page-items {
    display: flex;
}

.product-page-options-grid {
    grid-gap: 1em;
}

.product-page-grid:last-child {
    max-width: 70em;
}

.product-page-grid:nth-last-child(2) {
    max-width: 70em;
}

.product-page-items > div {
    justify-content: flex-start;
}


.product-page-items-options-submit:enabled {
    width: 100%;
    font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Droid Sans", "Segoe UI", "Helvetica", Arial, sans-serif;
    font-size: 1em;
    font-weight: 500;
    border-radius: 96px;
    border: 0.15em solid black;
    padding: 1em 5em 1em 5em;
    cursor: pointer;
    background-color: black;
    color: white;
}

.product-page-items-options-submit:enabled:hover {
    transform: scale(1.025);
    background-color: #222222;
    box-shadow: 0em 0em 1.5em 0 rgba(26, 26, 26, 0.12);
    transition: transform 0.02s ease, box-shadow 0.3s ease;
}

.product-page-items-options-submit:disabled {
    width: 100%;
    font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Droid Sans", "Segoe UI", "Helvetica", Arial, sans-serif;
    font-size: 1em;
    font-weight: 500;
    border-radius: 96px;
    border: 0.15em solid transparent;
    padding: 1em 5em 1em 5em;
    background-color: #6b6b6b;
    color: white;
    cursor: not-allowed;
}

.product-page-title {
    font-family: "Guardian-EgypTT",Charter,"Charter Bitstream",Cambria,"Noto Serif Light","Droid Serif",Georgia,serif;
    font-size: 2em;
    font-weight: 200;
    -webkit-text-stroke: 0.01em white;
}

.product-page-price {
    color: #222;
    font-size: 2em;
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Droid Sans", "Segoe UI", "Helvetica", Arial, sans-serif;
    word-wrap: break-word;
    -webkit-font-smoothing: antialiased;
    cursor: inherit;
}

.product-page-discounted {
    text-decoration: line-through;
    font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Droid Sans", "Segoe UI", "Helvetica", Arial, sans-serif;
    font-size: 1em;
    word-wrap: break-word;
    -webkit-font-smoothing: antialiased;
    cursor: inherit;

    margin-left: 0.3em;
    margin-right: 0.3em;

}

.product-page-percentage-off {
    color: #258635;
    font-size: 1em;
    font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Droid Sans", "Segoe UI", "Helvetica", Arial, sans-serif;
    word-wrap: break-word;
    -webkit-font-smoothing: antialiased;
    cursor: inherit;
}